
//   .slide-icon {
//     top: 560px;
//     left: 1398px;
//     width: 40px;
//     height: 38px;
//     border-radius: 50%;
//     border: solid #fff;
//     &:hover {
//       border: #107ce0 solid 3px;
//     }
//   }
//   .drag-and-drop {
//     display: flex;
//     justify-content: center;
//     width: 842px;
//     height: 232px;
//     left: 579px;
//     // right: 79.24%;
//     top: 249px;
//     background: #f8f8f8;
//     border: 1px solid #dcdcdc;
//     border-radius: 7px;
//     z-index: 1;
//     .drag-and-drop-img {
//       top: 45px;
//       left: 381px;
//       display: flex;
//       position: absolute;
//       min-width: 70px;
//       min-height: 70px;

//       justify-content: center;
//       align-items: center;
//     }
//     .drag-and-drop-heading {
//       top: 113px;
//       left: 342px;
//       display: flex;
//       position: absolute;
//       min-width: 100px;
//       align-items: center;
//       justify-content: center;
//       font-family: "Noto Sans";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 18px;
//       line-height: 22px;
//       color: #333333;
//     }
//     .drag-and-drop-heading--sub-heading {
//       top: 137px;
//       left: 373px;
//       position: absolute;
//       min-width: 50px;
//       align-items: center;
//       justify-content: center;
//       font-family: "Noto Sans";
//       font-style: normal;
//       font-size: 18px;
//       line-height: 22px;
//       color: #333333;
//       text-decoration: underline;
//     }
//     &:hover {
//       border: 1px solid #107ce0;
//     }
//     .input {
//       width: 842px;
//       height: 232px;
//       position: absolute;
//       // right: 79.24%;
//       background: #f8f8f8;
//       // border: 1px solid #dcdcdc;
//       border-radius: 7px;
//       z-index: -1;
//       color: transparent;

//       &::-webkit-file-upload-button {
//         display: none;
//       }
//     }
//     .submit {
//       position: absolute;
//       top: 360px;
//       left: 359px;
//       width: 113px;
//       height: 43px;
//       border-radius: 3px;
//       z-index: -1;
//       border: none;
//       &:hover {
//         border: 1px solid #107ce0;
//       }
//     }
//     .submit-img {
//       position: absolute;
//       top: 261px;
//       left: 825px;
//       width: 32px;
//       height: 32px;
//       border-radius: 50%;
//       z-index: 1;
//     }
//     .drag-and-drop--upload-icon {
//       position: absolute;
//       height: 18.67px;
//       width: 26.67px;
//       top: 64px;
//       left: 397.67px;
//       right: 417.67px;
//       z-index: 1;
//     }
    
//   }

//   .drag-and-drop--alert {
//     width: 842px;
//     height: 232px;
//     position: relative;
//     left: 579px;
//     // right: 79.24%;
//     top: 249px;
//     background: #f8f8f8;
//     border: 1px solid  #ED5D5D;
//     border-radius: 7px;
//     z-index: 1;
//     .drag-and-drop-img {
//       top: 45px;
//       left: 381px;
//       display: flex;
//       position: absolute;
//       min-width: 70px;
//       min-height: 70px;

//       justify-content: center;
//       align-items: center;
//     }
//     .drag-and-drop-heading {
//       top: 113px;
//       left: 342px;
//       display: flex;
//       position: absolute;
//       min-width: 100px;
//       align-items: center;
//       justify-content: center;
//       font-family: "Noto Sans";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 18px;
//       line-height: 22px;
//       color: #333333;
//     }
//     .drag-and-drop-heading--sub-heading {
//       top: 137px;
//       left: 373px;
//       position: absolute;
//       min-width: 50px;
//       align-items: center;
//       justify-content: center;
//       font-family: "Noto Sans";
//       font-style: normal;
//       font-size: 18px;
//       line-height: 22px;
//       color: #333333;
//       text-decoration: underline;
//     }
//     &:hover {
//       border: 1px solid #107ce0;
//     }
//     .input {
//       width: 842px;
//       height: 232px;
//       position: absolute;
//       // right: 79.24%;
//       background: #f8f8f8;
//       // border: 1px solid #dcdcdc;
//       border-radius: 7px;
//       z-index: -1;
//       color: transparent;

//       &::-webkit-file-upload-button {
//         display: none;
//       }
//     }
//     .submit {
//       position: absolute;
//       top: 360px;
//       left: 359px;
//       width: 113px;
//       height: 43px;
//       border-radius: 3px;
//       z-index: -1;
//       border: none;
//       &:hover {
//         border: 1px solid #107ce0;
//       }
//     }
//     .submit-img {
//       position: absolute;
//       top: 261px;
//       left: 825px;
//       width: 32px;
//       height: 32px;
//       border-radius: 50%;
//       z-index: 1;
//     }
//     .drag-and-drop--upload-icon {
//       position: absolute;
//       height: 18.67px;
//       width: 26.67px;
//       top: 64px;
//       left: 397.67px;
//       right: 417.67px;
//       z-index: 1;
//     }
    
    
//   }

//   .invalid {
//     position: absolute;
//     top: 93px;
//     left: 32px;
//     width: 24px;
//     height: 32px;
//     background-color: rgba(255, 0, 0, 0.5);
//     border: solid 0.5px rgb(153, 167, 181);
//     border-radius: 3px;
//   }

// .maximum-files-length{
//     color: #ED5D5D;
//     top: 169px;
//     position: relative;
//     left: 581px;
// }

// .maximum-files-size{
//   color: #ED5D5D;
//   top: 278px;
//   position: relative;
//   left: 581px;
// }

.drag-drop-files-container {
  width: 70%;
  margin: auto; 

  .drag-drop-files {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border: 1px solid #dcdcdc;
    height: 300px;

    .drag-drop-label {
      dis
    }

    .input-files {
      width: 100%;
      opacity: 0;
    }
  }
}