.heading{
    width: 164px;
height: 36px;

font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */


color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}